!*.svg  # comment out if you don't need vector files
!.vscode/extensions.json
!.vscode/launch.json
!.vscode/settings.json
!.vscode/tasks.json
!gradle-wrapper.jar
!src/**/build/
$RECYCLE.BIN/
**/CVS/*
**/build/
**/nbproject/Makefile-*.mk
**/nbproject/Package-*.bash
**/nbproject/private/
*.bak
*.cab
*.code-workspace
*.css.map
*.elc
*.evcd
*.fsdb
*.gho
*.iws
*.launch
*.lnk
*.log
*.mno
*.msi
*.msix
*.msm
*.msp
*.ori
*.orig
*.ppk
*.pydevproject
*.rel
*.sass.map
*.scss.map
*.stTheme.cache
*.stackdump
*.sublime-workspace
*.swp
*.tmPreferences.cache
*.tmlanguage.cache
*.tmp
*.tmp
*.tmproj
*.tmproject
*.vcd
*.vpd
*/.cvsignore
*_archive
*_flymake.*
*~
*~.nib
.AppleDB
.AppleDesktop
.AppleDouble
.DS_Store
.DocumentRevisions-V100
.LSOverride
.Spotlight-V100
.TemporaryItems
.Trash-*
.Trashes
.VolumeIcon.icns
.\#*
._*
.apdisk
.apt_generated/
.apt_generated_test/
.autotools
.buildpath
.bzr/
.bzrignore
.cache-main
.cask/
.com.apple.timemachine.donotpresent
.cproject
.cvsignore
.dir-locals.el
.directory
.dropbox
.dropbox.attr
.dropbox.cache
.externalToolBuilders/
.factorypath
.fseventsd
.fuse_hidden*
.gradle
.gradletasknamecache
.hg/
.hgignore
.hgsigs
.hgsub
.hgsubstate
.hgtags
.history/
.idea/**/contentModel.xml
.idea/**/dataSources.ids
.idea/**/dataSources.local.xml
.idea/**/dataSources/
.idea/**/dbnavigator.xml
.idea/**/dictionaries
.idea/**/dynamic.xml
.idea/**/gradle.xml
.idea/**/libraries
.idea/**/mongoSettings.xml
.idea/**/shelf
.idea/**/sqlDataSources.xml
.idea/**/tasks.xml
.idea/**/uiDesigner.xml
.idea/**/usage.statistics.xml
.idea/**/workspace.xml
.idea/caches/build_file_checksums.ser
.idea/httpRequests
.idea/replstate.xml
.idea_modules/
.loadpath
.metadata
.nb-gradle/
.netrwhist
.nfs*
.org-id-locations
.projectile
.recommenders
.recommenders/
.sass-cache/
.scala_dependencies
.settings/
.springBeans
.svn/
.target
.tern-project
.texlipse
.vscode/*
.worksheet
/.emacs.desktop
/.emacs.desktop.lock
/.tgitconfig
/CVS/*
/auto/
/elpa/
/eshell/history
/eshell/lastdir
/min
/network-security.data
/server/
/vendor/
/wpcs/*
DVEfiles/
GitHub.sublime-settings
Icon
Network Trash Folder
Package Control.ca-bundle
Package Control.ca-certs/
Package Control.ca-list
Package Control.cache/
Package Control.last-run
Package Control.merged-ca-bundle
Package Control.system-ca-bundle
Package Control.user-ca-bundle
Session.vim
Sessionx.vim
Temporary Items
Thumbs.db
Thumbs.db:encryptable
[._]*.s[a-v][a-z]
[._]*.sw[a-p]
[._]*.un~
[._]s[a-rt-v][a-z]
[._]ss[a-gi-z]
[._]sw[a-p]
[Dd]esktop.ini
\#*\#
_compareTemp
_notes
atlassian-ide-plugin.xml
auto-save-list
bh_unicode_properties.cache
bin/
build/
cmake-build-*/
com_crashlytics_export_strings.xml
composer.lock
composer.phar
config.codekit
config.codekit3
configs/
crashlytics-build.properties
crashlytics.properties
csrc/
dist/
dist/
dw_php_codehinting.config
dwsync.xml
ehthumbs.db
ehthumbs_vista.db
fabric.properties
flycheck_*.el
gradle-app.setting
local.properties
nbbuild/
nbdist/
oscrypto-ca-bundle.crt
out/
secring.*
sftp-config-alt*.json
sftp-config.json
simv
simv.daidir/
simv.db.dir/
simv.vdb/
tags
tmp/
tmtags
tramp
ucli.key
urgReport/
vc_hdrs.h
zzz.diff
